.wrapper{
    margin: 0px 20px 40px;
  width: 100%;
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
}

.wrapper .alert-wishlist{
  background-color: #e94560;
  color: white;
  padding: 20px;
  text-align: center;
  max-width: 100%;
  width: 100%;
  border-radius: 15px;
}
.wrapper .loading-wish-list {
  margin-top: 10%;
  margin-left: 50%;
}