@import "~react-image-gallery/styles/css/image-gallery.css";

.box-details{
      display: flex;
      margin-right: auto;
      margin-left: auto;
      padding-right: 35px;
      padding-left: 35px;
      
}
.box-details 
.single-img{
    max-width: 100%;
}
.pdetails{
    width: 100%;
}

.small-img-col .small-img{
    max-width: 100%;
    max-height: 100%;
    padding-right: 10px;
}
.small-img-col {
    width: 12.85%;
    cursor: pointer;
}

.box-img-detail{
    margin-top: 20px;
    padding: 5px;
}
.img-related{
    width: 100%;
    height: 250px;
}

.single-detail span{
    font-family: 'SF Mono', sans-serif;
}
.pdetails .box-description-product span{
    font-family: 'SF Mono', sans-serif;
}
.pdetails .box-description-product .description{
    line-height: 30px !important;
    text-align: justify;
    width: 350px;
    padding-top: 5px;
    font-family: 'SF Mono', sans-serif;
}
.pdetails .single-detail{
    line-height: 40px;
    padding: 15px;
}
.pdetails .single-detail h1{
  color: #e94560;

}
.pdetails .single-detail h2{
    color: #e94560;

}
.pdetails .single-detail h3{
    color: #e94560;

}
.pdetails .single-detail span{
    color: #000000;

}

.pdetails .single-detail h4{
    color: #e94560;

}
.pdetails .single-detail .btn-add-to-cart{
    background-color: #e94560;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}
.pdetails .single-detail .btn-add-to-cart:disabled{
    border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.related {
    padding: 50px 0;
}

.de{
    outline: none;
    cursor: pointer;
    border: 0;
    font-size: .875rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .1s cubic-bezier(.4,0,.6,1);
    border: 1px solid rgba(0,0,0,.09);
    border-radius: 2px;
    background: transparent;
    color: rgba(0,0,0,.8);
    width: 32px;
    height: 32px;
}
.in{
    outline: none;
    cursor: pointer;
    border: 0;
    font-size: .875rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .1s cubic-bezier(.4,0,.6,1);
    border: 1px solid rgba(0,0,0,.09);
    border-radius: 2px;
    background: transparent;
    color: rgba(0,0,0,.8);
    width: 32px;
    height: 32px;
}
.pdetails input{
    outline: none;
    cursor: pointer;
    border: 0;
    font-size: .875rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .1s cubic-bezier(.4,0,.6,1);
    border: 1px solid rgba(0,0,0,.09);
    border-radius: 2px;
    background: transparent;
    color: rgba(0,0,0,.8);
    width: 50px;
    height: 32px;
    text-align: center;
}
.amount{
    display: inline-flex; 
    width: 450px;
}
.amount-box {
    height: 100%;
    margin-left: 5px;
}
.amount-index{
    margin-left: 5px;
}
.box-share{
    margin-left: 10px;
}

.box-like{
    margin-top: 7px;
    margin-left: 15px;

}
.reviews h1{
    margin-left: 10px;
}
.box-reviews{
    margin-top: 2%;
    margin-bottom: 2%;
}
.box-comment{
    margin-top: 2%;
    margin-bottom: 2%;
}
.textarea-comment{
    width: 400px;
    height: 100px;
    border-radius: 2%;
    font-size: 20px;
}
.rate .fa-solid{
    color: #ffcd4e!important;
    font-size: 15px;
}
.rate .fa-regular{
    color: #ffcd4e!important;
    font-size: 15px;
}
  
.box-rating-detail .rating-reviews-detail{
    padding-left: 5px;
}
.box-rating-detail .rate-number-lenght{
    padding-left: 5px;
    font-style: italic;
}
.box-rating-detail .rate-number{
    color: #ffcd4e;
    font-weight: bold;
    font-size: 25px;
    text-decoration-line:underline;
    font-style: italic;
}
.box-rating-detail .fa-solid{
    color: #ffcd4e!important;
    font-size: 20px;
}
.box-rating-detail .fa-regular{
    color: #ffcd4e!important;
    font-size: 20px;
}
  
.box-rating-comment .fa-solid{
    color: #ffcd4e!important;
    font-size: 25px;
}
.box-rating-comment .fa-regular{
    font-size: 25px;
}
.btn-comment{
    background-color: #e94560;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 20px;
    width: 10%;
}
.rating-reviews{
    color: #ffcd4e!important;
}
/* css image detail */
.image-gallery-slide .image-gallery-image{
    width: 350px!important; 
    object-fit:cover !important;
}